*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1, h2, p, p, a{
    text-align: center;
}
img{
    height: 200px;
    margin-right:auto;
    margin-left:auto;
    display: block;

}